
.table {
  .rowRadio {
    :global(.el-radio__label) {
      display: none;
    }
  } 
}

.BsTable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  // padding: 0 15px;
  border-radius: 3px;
  .table {
    flex: 1;
    // margin-top: 15px;
  }
}