.DS_Store
buildConfig/
node_modules/
packages/
public/
src/
tests/
dist/
lib/
package-lock.json
.browserslistrc
.editorconfig
.eslintrc.js
babel.config.js
jest.config.js
vue.config.js
tsconfig.json
.env.npm
ts-shim.d.ts