.width100 {
  flex: 1;
  width: 100% !important;
}

.BsForm {
  // 可编辑表格校验失败时，table内所有控件都会标红，这里排除校验成功的
  :global(.bs-edit-table .el-form-item.is-success .el-input__wrapper) {
    box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset;
  }
  :global(.bs-edit-table .ep-form-item.is-success .ep-input__wrapper) {
    box-shadow: 0 0 0 1px var(--ep-input-border-color,var(--ep-border-color)) inset;
  }
}

.BsNumber, .BsDateRange {
  width: 100%;
  :global(.el-input-number), :global(.ep-input-number) {
    width: 100%;
  }
  :global(.el-input-number .el-input__wrapper), :global(.ep-input-number .ep-input__wrapper) {
    padding-left: 11px !important;
    padding-right: 11px !important;
  }
  :global(.textLeft .el-input__inner), :global(.textLeft .ep-input__inner) {
    text-align: left;
  }
  :global(.ant-form-item-control-input-content) {
    display: flex;
  }
}

.BsNumberRange {
  .noControls {
    :global(.el-input__inner), :global(.ep-input__inner) {
      text-align: left;
    }
  }
  :global(.ant-form-item-control-input-content) {
    display: flex;
  }
}

.BaseCollapse {
  :global{
    .el-collapse-item__header, .el-collapse-item__wrap, .ep-collapse-item__header, .ep-collapse-item__wrap {
      background-color: #f1f1f1;
    }
    .el-collapse-item__content, .el-collapse-item__header, .ep-collapse-item__content, .ep-collapse-item__header {
      padding: 0;
      padding-left: 10px;
    }
  }
}